@charset 'UTF8';

* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: antiquewhite;
}

header {
    background-color: white;
}

h1 {
    color: rgb(117, 1, 1);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px 22px;
    max-width: 400px;
    margin: auto;
    border-radius: 0px 0px 4px 4px;
}

#chama,
.bl {
    padding-bottom: 10px;
}

#saida {
    padding-top: 15px;
}